name: pull-request-build-test

on:
  pull_request:

env:
  NODE_VERSION: 24.12.0

jobs:
  frontend-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/frontend-build-and-test
        with:
          frontend-directory: .
          node: ${{ env.NODE_VERSION }}

  codeql-check:
    uses: ./.github/workflows/codeql.yml
    permissions:
      actions: read
      contents: read
      security-events: write

  dependabot-automerge:
    needs: [frontend-build-and-test]
    runs-on: ubuntu-latest
    environment: oskar-westmeijer-environment
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v6
      - run: echo "event name is:" ${{ github.event_name }}
      - run: echo "event type is:" ${{ github.event.action }}
      - name: Dependabot metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: '${{ secrets.MASTER_TOKEN }}'
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.MASTER_TOKEN}}
